<div class="container">
  <div class="screen">
    <div class="">
      <div class="card-content center-align white-text">
        <h2 class="txt-color">Gender Predictor</h2>
        <p class="bold">You can guess your gender using your name.</p>
        <p><span class="red-text">&#10084;</span> Made By Sagar Bhoi <span class="red-text">&#10084;</span> </p>
      </div>
    </div>

    <div class="center-align mt">
      <h4 class=" yellow-text">Enter Your Name</h4>
      <form [formGroup]="form">
        <div class="input-field col s">
          <i class="material-icons prefix">account_circle</i>
          <input formControlName="name" id="icon_prefix" type="text" (input)="resetall()" class="validate white-text">
          <label for="icon_prefix">Your Sweet Name</label>
        </div>
        <button class="waves-effect waves-light pink btn" [disabled]="form.invalid || btnState==false"
          (click)="getGender()">{{btnName}}</button>
      </form>

      <div *ngIf="ResBox==true" class="white-text center-align mb">
        <h5><span style="font-size: 15px;">&#9989;</span> Result <span style="font-size: 15px;">&#9989;</span></h5>
        <h6 *ngIf="ResOk==true" class="red-text bold">"{{ResName | titlecase}}", you are {{ResGender}}.</h6>
        <h6 *ngIf="ResNull==true" class="red-text bold">Not Predict "{{ResName | titlecase}}".</h6>
      </div>
    </div>

    <!-- <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          
          - <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        <!-- </div>
      </div>
    </footer> -->

    <!-- </div> -->
    <!-- </div> -->